body{
	background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60);
	backface-visibility: unset;
}
.web:hover{
	text-align: center;

}
a{
	color: limegreen;
	font-size: 25px;
}